{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'Ui/Form/theme.html.twig' %}

<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 mb-5">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

                        {#{{ form_widget(form) }}#}

                        <div class="form-row">
                            <div class="col-12 col-md-6">
                                {{ form_row(form.plainPassword.first) }}
                            </div>
                            <div class="col-12 col-md-6">
                                {{ form_row(form.plainPassword.second) }}
                            </div>
                        </div>

                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


