{% set cart = app.session.get('app_cart') %}

<section>
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-12 mt-1">
                <section class="mb-5">
                    <div class="row">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <div class="row product-gallery mx-1">
                                <div class="col-12">
                                    <figure class="view overlay rounded z-depth-1 main-img" style="max-height: 450px;">
                                        <img src="{{ vich_uploader_asset(product, 'file') }}" class="img-fluid z-depth-1" alt="Produit image" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="h5-responsive font-weight-500">{{ product.name }}</h5>
                            <p><span class="mr-1 text-primary font-weight-600"><strong class="text-primary font-weight-600">€{{ tax(product.price, product.tva.value)|number_format(2, '.', ',') }}</strong></span></p>
                            <p class="pt-1">{{ product.description }}</p>
                            <hr>

                            {% if cart[product.id] is not defined %}
                                <form action="{{ path('app_cart_add', { 'id' : product.id }) }}" method="get">
                                    <div class="form-row">
                                        <div class="col-12 col-md-4">
                                            <select id="qte" name="qte" class="mdb-select md-form md-outline dropdown-stone">
                                                {% for i in 1..10 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="qte"></label>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-primary btn-md mr-1 mb-2">
                                            <i class="fas fa-shopping-cart pr-2"></i>
                                            Ajouter au panier
                                        </button>
                                    </div>
                                </form>
                            {% else %}
                                <a href="{{ path('app_cart_index') }}" class="btn btn-grey">Le produit est déjà dans votre panier</a>
                            {% endif %}
                        </div>
                    </div>

                </section>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mt-1">
                {{ render(controller('App\\Controller\\BannerController::index', {'service': 'commerce'})) }}

                {{ render(controller('App\\Controller\\PostController::partial')) }}

                {% include 'site/newsletter/_subscribe.html.twig' %}
            </div>
        </div>
    </div>
</section>


