<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center justify-content-md-between">
        <div id="entity-list-delete-bulk-btn" class="mr-3 d-none entity-shipment-delete-bulk-btn">
            {% include 'Ui/Grid/Action/delete.html.twig' with {'action': {'label': 'Supprimer'}} %}
        </div>
    </div>
</div>

{% if shipments|length > 0 %}
    <div class="row app-user">
        <div class="col-12">
            <table class="table table-responsive-sm">
                <thead class="text-primary">
                <tr>
                    <th scope="col" class="text-center">
                        <div class="" style="position: relative; right: 10px; top: 2px">
                            <input type="checkbox" name="principal" class="form-check-input filled-in" id="principal-checkbox" value="" style="margin: 0 !important;" />
                            <label class="form-check-label" for="principal-checkbox"
                                   style="padding-left: 0!important; "></label>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-stone-500 text-center">Créé le</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Livré le</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Commande</th>
                    <th scope="col" class="font-weight-stone-500 text-center">État</th>
                    <th scope="col" class="font-weight-stone-500 text-center"></th>
                </tr>
                </thead>
                <tbody id="list-checkbook-container">
                {% for shipment in shipments %}
                    <tr>
                        <td class="text-center">
                            <div class="" style="position: relative; right: 10px; top: 2px">
                                <input type="checkbox" name="checkbox{{ loop.index }}" class="form-check-input filled-in list-checkbook"
                                       id="checkbox{{ loop.index }}" value="{{ shipment.id }}" style="margin: 0 !important;" />
                                <label class="form-check-label" for="checkbox{{ loop.index }}" style="padding-left: 0!important; "></label>
                            </div>
                        </td>
                        <td class="text-center">{{ shipment.createdAt|date('d/m/Y H:i:s') }}</td>
                        <td class="text-center">
                            {% if shipment.shippedAt %}
                                {{ shipment.shippedAt|date('d/m/Y H:i:s') }}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ path('app_admin_order_show', {'id': shipment.order.id}) }}" class="">#{{ shipment.order.id }}</a>
                        </td>
                        <td class="text-center">
                            {% if shipment.enabled %}
                                <span class="badge badge-success">
                                    <i class="fas fa-plane mr-1"></i> Expédié
                                </span>
                            {% else %}
                                <span class="badge badge-grey">
                                    <i class="fas fa-clock mr-1"></i> Prêt
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right mt-0">
                                    {% if not shipment.enabled %}
                                        <a href="{{ path('app_admin_shipment_shipment', {'id': shipment.id}) }}" class="dropdown-item">
                                            <i class="fas fa-plane mr-1"></i> Expédié
                                        </a>
                                    {% endif %}

                                    <a class="dropdown-item entity-shipment-delete" id="{{ shipment.id }}">
                                        <i class="fas fa-trash mr-1 text-danger"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-start mt-2">
            <div class="font-weight-stone-500 text-secondary">{{ shipments.totalItemCount }} resultats</div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2">
            {{ knp_pagination_render(shipments, 'Ui/_pagination.html.twig') }}
        </div>
    </div>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <h3 class="text-primary h3-responsive font-weight-stone-600">
                Vous n'avez aucune expédition.
            </h3>
        </div>
    </div>
{% endif %}
