<div class="form-row mb-4">
    <div class="col-12 col-md-6">
        {{ form_row(form.lastName) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.firstName) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.email) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.phone) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12">
        <div class="md-form md-outline">
            {{ form_widget(form.comments) }}
            {{ form_label(form.comments) }}
            <div class="red-text font-weight-stone-500">{{ form_errors(form.comments) }}</div>
        </div>
    </div>
    <div class="col-12">
        {{ form_row(form.recaptchaToken) }}
    </div>
</div>
